In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("data/final_dataset.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     6840 non-null   int64
 1   Date           6840 non-null   object
 2   HomeTeam       6840 non-null   object
 3   AwayTeam       6840 non-null   object
 4   FTHG           6840 non-null   int64
 5   FTAG           6840 non-null   int64
 6   FTR            6840 non-null   object
 7   HTGS           6840 non-null   int64
 8   ATGS           6840 non-null   int64
 9   HTGC           6840 non-null   int64
 10  ATGC           6840 non-null   int64
 11  HTP            6840 non-null   float64
 12  ATP            6840 non-null   float64
 13  HM1            6840 non-null   object
 14  HM2            6840 non-null   object
 15  HM3            6840 non-null   object
 16  HM4            6840 non-null   object
 17  HM5            6840 non-null   object
 18  AM1            6840 non-null   object
 19  AM2            6840 non-null   object
 20  AM3            6840 non-null   object
 21  AM4            6840 non-null   object
 22  AM5            6840 non-null   object
 23  MW             6840 non-null   float64
 24  HTFormPtsStr   6840 non-null   object
 25  ATFormPtsStr   6840 non-null   object
 26  HTFormPts      6840 non-null   int64
 27  ATFormPts      6840 non-null   int64
 28  HTWinStreak3   6840 non-null   int64
 29  HTWinStreak5   6840 non-null   int64
 30  HTLossStreak3  6840 non-null   int64
 31  HTLossStreak5  6840 non-null   int64
 32  ATWinStreak3   6840 non-null   int64
 33  ATWinStreak5   6840 non-null   int64
 34  ATLossStreak3  6840 non-null   int64
 35  ATLossStreak5  6840 non-null   int64
 36  HTGD           6840 non-null   float64
 37  ATGD           6840 non-null   float64
 38  DiffPts        6840 non-null   float64
 39  DiffFormPts    6840 non-null   float64
dtypes: float64(7), int64(17), object(16)
memory usage: 2.1+ MB

In [5]:
data

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
0,0,19/08/00,Charlton,Man City,4,0,H,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
1,1,19/08/00,Chelsea,West Ham,4,2,H,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2,2,19/08/00,Coventry,Middlesbrough,1,3,NH,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
3,3,19/08/00,Derby,Southampton,2,2,NH,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
4,4,19/08/00,Leeds,Everton,2,0,H,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,6835,13/05/18,Newcastle,Chelsea,3,0,H,36,62,47,...,0,0,1,0,0,0,-0.289474,0.710526,-0.763158,-0.263158
6836,6836,13/05/18,Southampton,Man City,0,1,NH,37,105,55,...,0,0,1,0,0,0,-0.473684,2.052632,-1.605263,-0.131579
6837,6837,13/05/18,Swansea,Stoke,1,2,NH,27,33,54,...,0,0,0,0,0,0,-0.710526,-0.894737,0.078947,-0.052632
6838,6838,13/05/18,Tottenham,Leicester,5,4,H,69,52,32,...,0,0,0,0,0,0,0.973684,-0.078947,0.710526,0.078947
6839,6839,13/05/18,West Ham,Everton,3,1,H,45,43,67,...,0,0,0,0,0,0,-0.578947,-0.315789,-0.263158,-0.105263

- home_team_history_match_data_{i} - Дата последнего восьмого матча, сыгранного домашней командой.
- home_team_history_is_play_home_{i} - Если 1, то команда хозяев играла дома.
- home_team_history_is_cup_{i} - Если 1, то матч был кубковым соревнованием.
- home_team_history_goal_{i} - количество голов, забитых командой хозяев поля в последних восьми матчах.
- home_team_history_opponent_goal_{i} - количество голов, пропущенных хозяевами поля в последних восьми матчах.
- home_team_history_rating_{i} - рейтинг домашней команды в последних восьми матчах (предматчевый рейтинг).
- home_team_history_opponent_rating_{i} - Рейтинг команды соперника, в которой хозяева проиграли матч (предматчевый рейтинг).
- home_team_history_coach_{i} - Идентификатор тренера домашней команды в ее последних восьми матчах.
- home_team_history_league_id_{i} - Идентификатор названия лиги, присвоенный домашней командой в ее последних восьми матчах.